{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^server-only$",
    "^(?![@./]).*",
    "^[^@./]*$",
    "^@(?!/components/).*$",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    { "files": ["./apps/docs/**/*.mdx"], "options": { "singleQuote": true } }
  ]
}
